<div id="top-container" class="container-fluid">
        <h1 class="text-center" id="main-title">Encontre o emprego do seus sonhos</h1>
        <p class="text-center" id="main-subtitle">Somos o site com mais vagas de tecnologias do mercado para modelo home office</p>
        <form id="search-form" class="form-inline" action="">
            <div class="form-group col-md-10">
                <input type="text" class="form-control" id="job" name="job"
                    placeholder="Digite a vaga que está buscando">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Procurar</button>
            </div>
        </form>

    </div>
    <main>
        <div id="jobs-container" class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 id="job-list-title">Nossas vagas em destaques</h2>
                    <ul id="job-list" class="list-group">
                        <li class="list-group-item new-job">
                            <img src="/img/img-empresa.png" alt="company">
                            <p>Empresa</p>
                            <h2>Titulo da empresa</h2>
                            <p>R$200,00</p>
                            <span class="new-job-label">Nova</span>
                            <a class="btn btn-primary">Ver vagas</a>
                        </li>
                        <li class="list-group-item">
                            <img src="/img/img-empresa.png" alt="company">
                            <p>Empresa</p>
                            <h2>Titulo da empresa</h2>
                            <p>R$200,00</p>
                            <a class="btn btn-primary">Ver vagas</a>
                        </li>
                        <li class="list-group-item">
                            <img src="/img/img-empresa.png" alt="company">
                            <p>Empresa</p>
                            <h2>Titulo da empresa</h2>
                            <p>R$200,00</p>
                            <a class="btn btn-primary">Ver vagas</a>
                        </li>
                        <li class="list-group-item">
                            <img src="/img/img-empresa.png" alt="company">
                            <p>Empresa</p>
                            <h2>Titulo da empresa</h2>
                            <p>R$200,00</p>
                            <a class="btn btn-primary">Ver vagas</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </main>